/* 
    Document   : style
    Created on : 5-set-2012, 10.12.33
    Author     : giuseppe.ittiresu
    Description:
        Purpose of the stylesheet follows.
*/

.nodereference-explorer { 
    position: relative;
}

.content-multiple-values table.content-multiple-table tr.draggable .nodereference-explorer .nodereference-explorer-actions,
.form-layout-default .column-main .column-wrapper .nodereference-explorer .nodereference-explorer-actions { 
    position: absolute;
    bottom: -20px;
    right: 0px;
    z-index: 999;
}

.form-layout-default .column-main .column-wrapper .nodereference-explorer .nodereference-explorer-wrapper { 
    height: auto;
    padding: 0;
    margin: 0;
}

.form-layout-default .column-main .column-wrapper .nodereference-explorer .nodereference-explorer-actions { 
    position: absolute;
    bottom: -20px;
    right: 0px;
    z-index: 999;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0;
}

.content-multiple-values table.content-multiple-table tr.draggable .nodereference-explorer .nodereference-explorer-actions input.nodereference-explorer-button,
.form-layout-default .column-main .column-wrapper .nodereference-explorer .nodereference-explorer-actions input.nodereference-explorer-button { 
    background-color: #F4F4F4;
    border-color: #DDDDDD #DDDDDD #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font-weight: normal;
    padding: 0px 10px;
    text-align: center;
}

